

.body{
	margin: 0;
	padding: 0;
}

.header{
	background: url("smiley.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -300px -200px;
	width: 100%;
	height: 100vh;
	margin: 0;
	font-family: 'Titillium Web', sans-serif;

}

p {
	width: 30%;
	font-size: 25px;
}

#Email{
width: 30%;
height: 50px;
background: red;
border: 2px solid black;
}

#youtube{
	width: 100%;
	height: 100vh;
}